.feature-section {
  margin-bottom: 2rem;
  max-width: 1440px;
  margin-inline: auto;
  text-align: center;
}

/* bottom cards */
.feature-section .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block: 2rem;
  padding-inline: 2rem;
  gap: 2rem;
}

.feature-section .bottom img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

/* features */
.feature-section .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  background-color: #f8f8f8;
  margin-block: 1rem;
  border-radius: 4px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  img {
    transition: filter 0.2s ease-in-out;
  }
}

.feature-section .feature:hover {
  background-color: var(--text);
  color: var(--bg);
  transform: translateY(-1rem);

  img {
    filter: invert(100%) brightness(200%);
  }
}

.feature-section .feature p {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #888;
}

/* responsive */
@media (width <= 1024px) {
  .feature-section .bottom {
    grid-template-columns: 1fr;
  }

  .feature-section .feature {
    max-width: 320px;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    margin-inline: auto;
  }
}
