@import url("https://fonts.cdnfonts.com/css/charriot-deluxe");

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg);
  border-bottom: 1px solid var(--hover-light);
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.1);
}

/* left */
.header .left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .left img {
  height: 2rem;
  margin-right: 0.75rem;
  /* filter: drop-shadow(
    5px 5px 10px rgba(0, 0, 0, 0.2)
  ); // Adjust values as needed */
  /* filter: drop-shadow( */
  /* -2px 0px 3px rgba(0, 0, 0, 0.2) */
  /* ); Adjust values as needed */
}

.header .left span {
  font-size: 1.625rem;
  font-weight: bolder;
  /* margin-top: 0.25rem; */
  /* letter-spacing: 2px; */
  /* font-family: "Tiny BoxBitA10", sans-serif; */
  /* font-family: "Tiny Box BlackBitA8", sans-serif; */
  /* font-family: "Tiny Box CollageBitA12", sans-serif; */
  font-family: "Charriot Deluxe", sans-serif;
}

/* right */
.header .right {
  display: flex;
  align-items: right;
  gap: 1rem;
}

.header .right a {
  background-color: var(--text);
  color: var(--bg);
  font-size: 1.125rem;
  padding: 0.125rem 0.75rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

.header .right a:hover {
  background-color: var(--hover-dark);
}

.header .right a:first-child {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--hover-light);
}

.header .right a:first-child:hover {
  background-color: var(--hover-light);
}

/* responsive */

@media (width <= 470px) {
  .header .left span {
    display: none;
  }
}
