.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* spline viewer */
spline-viewer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.spline-overlay {
  height: calc(100vh);
  width: 100%;
  pointer-events: none;
}

.spline-hider0 {
  translate: 0 -8rem;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to bottom, transparent, white);
}
.spline-hider1 {
  translate: 0 -8rem;
  width: 100%;
  height: 5rem;
  background: white;
}

.direction {
  background-color: black;
  display: inline-block;
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/* loader */
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}

.loader {
  position: rel;
  width: 65px;
  aspect-ratio: 1;
  position: relative;
  z-index: -3;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #000;
  animation: l4 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
}

@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

/* hero section */
.hero {
  margin-bottom: 3rem;
  translate: 0 -4rem;
  max-width: 1440px;
  margin-inline: auto;
  text-align: center;
}

.hero h1 {
  padding-top: 1.5rem;
}

/* para */
.para {
  font-size: 1.5rem;
  color: #888;
  font-weight: 600;
  margin-inline: 2rem;
  text-wrap: pretty;
}

/* hr */
.home hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  width: 60vw;
  margin-bottom: 8rem;
}

.home .hrfinal {
  margin-bottom: 2rem;
}
