.launch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.button-container {
  width: 90vw;
  min-width: 200px;
  max-width: 540px;
  padding: 1rem;
  border: 1px solid var(--hover-light);
  border-radius: 8px;
}

.form-container,
.button-container {
  background-color: var(--hover-light);
  padding: 1rem;
  border-radius: 4px;
  margin: 0 1rem;
}

.launch textarea {
  display: block;
  width: 90vw;
  min-width: 200px;
  max-width: min(740px, 90vw);
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  min-height: 120px;
  resize: both;
  text-align: left;
  overflow-y: auto;
  transition: border-color 0.3s;
}

.launch textarea:focus {
  border-color: #999;
}

.url-list {
  margin: 0;
  padding: 0;
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.url-list li {
  overflow: hidden; /* Ensures the content doesn't overflow */
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  text-overflow: ellipsis; /* Adds "..." to clipped text */
  max-width: 24ch; /* Limits the content to approximately 24 characters */
}

.launch button {
  margin-top: 1rem;
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--text);
  color: var(--bg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.launch button:hover {
  background-color: var(--hover-dark);
}

/* responsiveness */
@media (width <= 768px) {
  .launch textarea {
    max-width: calc(90vw - 2rem);
  }
}
