.launch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.launch h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 610px;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 8px;
}

.form-container {
  background-color: #eee;
}

textarea {
  display: block;
  width: clamp(300px, 100vw, 1000px);
  max-width: 610px;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  min-height: 100px;
  resize: both;
  text-align: left;
  overflow-y: auto;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #999;
}

.launch button {
  margin-top: 1rem;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #333;
  color: #fff;
}
